<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Catalogue</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Merchants <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each controller.merchants}}
              <li>{{link-to name 'merchant' slug}}</li>
            {{/each}}
          </ul>
      </li>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each controller.category}}
              <li>{{link-to name 'category' slug}}</li>
            {{/each}}
          </ul>
      </li>
      <li>
        {{ember-selectize
          content=controller.searchProducts
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=controller.selection
          placeholder="Search" 
        }}
      </li>
    </ul>
  </div>
</div>